
<table class="table">
  <thead>
  <tr>
    <th scope="col" [appSort]="users" data-order="desc" data-name="id">Id</th>
    <th scope="col" [appSort]="users" data-order="desc" data-name="name">Nome</th>
    <th scope="col" [appSort]="users" data-order="desc" data-name="surname">Cognome</th>
    <th scope="col" [appSort]="users" data-order="desc" data-name="email">Email</th>
    <th scope="col" [appSort]="users" data-order="desc" data-name="birthdate">Data di Nascita</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users ">
    <td>
      <span class="text-black">#{{user.id}}</span>
    </td>
    <td>
      <span class="text-black">{{user.name}}</span>
    </td>
    <td>
      <span class="text-black">{{user.surname}}</span>
    </td>
    <td>
      <span class="text-black">{{user.email}}</span>
    </td>
    <td>
      <span class="text-black">{{user.birthdate}}</span>
    </td>
  </tr>
  </tbody>
</table>


