<div class="sidenav">
  <div class="login-main-text">
    <h2 class="text-white">Benvenuto,<br> accedi tramite il login</h2>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <div class="alert-danger text-uppercase text-center">{{errorMsg}}</div>
      <form autocomplete="off">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input #username type="text" class="form-control" id="email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input #password type="password" class="form-control" id="password">
        </div>

        <button (click)="login(username.value, password.value)" class="btn btn-success">Login</button>
      </form>
    </div>
  </div>
</div>
