<div class="row">
  <div class="col-5">
    <label class="" >Colonna</label>
    <select #inputColumn class="form-control" id="columnInput" >
      <option *ngFor="let select of header"
              value="{{select.key}}">{{select.key}}</option>
    </select>
  </div>
  <div class="col-5">
    <label class="" >Testo da cercare</label>
    <input #inputText (input)="searchBy(inputColumn.value,inputText.value)"  class="form-control me-2" type="search" id="searchInput" placeholder="nominativo" aria-label="Search">
  </div>
  <div class="col">
    <label class="text-white" >*</label><br>
    <app-button-search></app-button-search>
  </div>
</div>
<table class="table">
  <thead>
  <tr>
    <th *ngFor="let head of header " (click)="sortBy(head.key)">{{head.key}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users ">
    <td>
      <span class="text-black" style="font-weight: bold">#{{user.id}}</span>
    </td>
    <td>
      <span class="text-black">{{user.name}}</span>
    </td>
    <td>
      <span class="text-black">{{user.surname}}</span>
    </td>
    <td>
      <span class="text-black">{{user.email}}</span>
    </td>
    <td>
      <span class="text-black">{{user.birthdate}}</span>
    </td>
  </tr>
  </tbody>
</table>


