<div class="container" style="width:30%">
  <div class="card" style="padding: 50px">
    <ng-container *ngIf="obj!==null">
      <h2 class="text-black text-uppercase">Modifica {{classes}}</h2>
      <form [formGroup]="form" *ngIf="data" >

        <div class="row" *ngFor="let key of keys; let i=index">
          <label class="text-black text-uppercase">{{key}}</label>
          <input [formControlName]="key"  class="form-control" type="{{typeOfData[i]}}" [defaultValue]="data[key]">
        </div>
        <button type="submit" class="btn btn-success form-control" (click)="onSubmitEdit(form.value,obj)">Conferma</button>
      </form>
    </ng-container>


    <ng-container *ngIf="obj===null">
      <h2 class="text-black text-uppercase">Aggiunta {{classes}}</h2>
      <form [formGroup]="form">

        <div class="row" *ngFor="let key of keys; let i=index">
          <label class="text-black text-uppercase">{{key}}</label>
          <input [formControlName]="key"  class="form-control" type="{{typeOfData[i]}}" >
        </div>
      <button type="submit" class="btn btn-success form-control" (click)="onSubmitAdd(form.value)">Conferma</button>
      </form>

    </ng-container>

  </div>

</div>
